apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-agent-config
data:
  agent-config.yml: |
    traces:
      configs:
        # traces_instance_config https://grafana.com/docs/agent/latest/configuration/traces-config/#traces_instance_config
        - name: grafanacloud-<your-user>-traces
          remote_write:
            - endpoint: <hostname:port>
              basic_auth:
                username: <username>
                password: <api key>
          receivers:
            otlp:
              protocols:
                http:
                  endpoint: ":4318"
