[Unit]
Description=Run the Beyla application for a given application
After=network.target

[Service]
Type = simple
Restart = always
User = root
Group = root
WorkingDirectory = /etc/beyla
EnvironmentFile = /etc/beyla/%i.env
ExecStart=
ExecStart=/usr/local/bin/beyla \
	--config=/etc/beyla/%i.yaml

[Install]
WantedBy = multi-user.target
