
[mysqld]
#
# * Basic Settings
#
user            = mysql
# pid-file      = /var/run/mysqld/mysqld.pid
# socket        = /var/run/mysqld/mysqld.sock
# port          = 3306
# datadir       = /var/lib/mysql


# If MySQL is running as a replication slave, this should be
# changed. Ref https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_tmpdir
# tmpdir                = /tmp
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address            = 0.0.0.0 #change this to your ip
mysqlx-bind-address     = 127.0.0.1
#
# * Fine Tuning
#
key_buffer_size         = 16M
# max_allowed_packet    = 64M
# thread_stack          = 256K
# open_file_limit       = 200000
default_storage_engine = InnoDB



# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover-options  = BACKUP

# max_connections        = 151

# table_open_cache       = 4000

# * INNODB
innodb_buffer_pool_size             = 5096M
innodb_log_buffer_size              = 512M
innodb_log_file_size                = 512M
innodb_flush_log_at_trx_commit      = 0
innodb_flush_method                 = O_DIRECT
innodb_buffer_pool_instances        = 8
innodb_thread_concurrency           = 8
innodb_concurrency_tickets          = 5000
innodb_io_capacity                  = 5000
innodb_io_capacity_max              = 15000 
innodb_stats_on_metadata            = 0
innodb_buffer_pool_dump_at_shutdown = 1 
innodb_buffer_pool_load_at_startup  = 1 
innodb_adaptive_hash_index          = 1
innodb_adaptive_hash_index_parts    = 8
innodb_checksum_algorithm           = crc32
innodb_read_io_threads              = 8
innodb_write_io_threads             = 4
innodb_file_per_table               = 1


# * OTHERS
skip_name_resolve                   = 1
disable_log_bin                     = 1
sync_binlog                         = 0
thread_cache_size                   = 20
#lower_case_table_names              =1 #u can set this option after the first run -- then restart the mysqld service with the new value


join_buffer_size                    = 262K
sort_buffer_size                    = 262K
read_buffer_size                    = 132K
read_rnd_buffer_size                = 262K

#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
#
# Log all queries
# Be aware that this log type is a performance killer.
# general_log_file        = /var/log/mysql/query.log
# general_log             = 1
#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log
#
# Here you can see queries with especially long duration
slow_query_log                = 1
slow_query_log_file           = /var/log/mysql/slow.log
long_query_time               = 10
#log-queries-not-using-indexes

# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
# server-id             = 1
# log_bin                       = /var/log/mysql/mysql-bin.log
# binlog_expire_logs_seconds    = 2592000
# max_binlog_size   = 100M
# binlog_do_db          = include_database_name
# binlog_ignore_db      = include_database_name
