# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
testoutput

**/node_modules

# Dependency directories (remove the comment below to include it)
# vendor/

deployments/01-grafana-credentials.yml
test/cmd/pingserver/server
*.log
**/.vscode
.idea/
.claude

test/cmd/grpc/server/server
test/cmd/grpc/client/client

bin/
test/integration/components/server
test/integration/components/testserver/testserver

test/cmd/rust_pingserver/target
test/cmd/rust_pingiron/target
test/cmd/rust_pingrouille/target
test/cmd/rust_ironssl/target
*__pycache__/
test/cmd/pingwrapper/wrapper
test/cmd/grpc/server/grpcsrv
test/cmd/greeting-service/target
test/integration/components/javatestserver/target/
test/integration/components/rusttestserver/target/
test/integration/components/rustssltestserver/target/
test/integration/components/nodejsserver/node_modules/
# Ruby on Rails test
# Ignore bundler config.
test/integration/components/rubytestserver/testapi/.bundle

# Ignore the default SQLite database.
test/integration/components/rubytestserver/testapi/db/*.sqlite3
test/integration/components/rubytestserver/testapi/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
test/integration/components/rubytestserver/testapi/log/*
test/integration/components/rubytestserver/testapi/tmp/*
!test/integration/components/rubytestserver/testapi/log/.keep
!test/integration/components/rubytestserver/testapi/tmp/.keep

# Ignore pidfiles, but keep the directory.
test/integration/components/rubytestserver/testapi/tmp/pids/*
!test/integration/components/rubytestserver/testapi/tmp/pids/
!test/integration/components/rubytestserver/testapi/tmp/pids/.keep

# Ignore uploaded files in development.
test/integration/components/rubytestserver/testapi/storage/*
!test/integration/components/rubytestserver/testapi/storage/.keep
test/integration/components/rubytestserver/testapi/tmp/storage/*
!test/integration/components/rubytestserver/testapi/tmp/storage/
!test/integration/components/rubytestserver/testapi/tmp/storage/.keep
test/integration/components/dotnetserver/obj/*
test/oats/*/build/*
test/cmd/grpc/client/grpclient
test/integration/components/gohttp2/client/client
test/integration/components/gohttp2/server/http2srv
beyla.sln
test/integration/components/gokafka/gokafka
test/integration/components/gokafka/vendor/*
test/integration/components/gokafka-seg/vendor/*
test/integration/components/gokafka-seg/gokafka
test/integration/components/goredis/vendor/*
test/integration/components/goredis/goredis
test/integration/components/go_otel/rolldice
test/integration/components/go_otel_grpc/rolldice
test/integration/components/pythonserver/lib/
test/integration/components/pythonserver/lib64
test/integration/components/pythonserver/pyvenv.cfg
test/integration/components/gosql/qosql
test/integration/components/testserver_1.17/vendor
*_bpfel.go
*_bpfel.o
**/grafana-opentelemetry-java.jar
