# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Main beyla binary (should be built to bin/beyla via make compile)
/beyla

.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
testoutput

**/node_modules

# Dependency directories (remove the comment below to include it)
# vendor/

deployments/01-grafana-credentials.yml
*.log
**/.vscode
.idea/
.claude

bin/
*__pycache__/
beyla.sln

*_bpfel.go
*_bpfel.o
*_bpfel.go.d

# Generated OBI test suite (created by scripts/generate-obi-tests.sh)
internal/testgenerated
