# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
testoutput

**/node_modules

# Dependency directories (remove the comment below to include it)
# vendor/

deployments/01-grafana-credentials.yml
internal/test/cmd/pingserver/server
*.log
**/.vscode
.idea/
.claude

internal/test/cmd/grpc/server/server
internal/test/cmd/grpc/client/client

bin/
internal/test/integration/components/server
internal/test/integration/components/testserver/testserver

internal/test/cmd/rust_pingserver/target
internal/test/cmd/rust_pingiron/target
internal/test/cmd/rust_pingrouille/target
internal/test/cmd/rust_ironssl/target
*__pycache__/
internal/test/cmd/pingwrapper/wrapper
internal/test/cmd/grpc/server/grpcsrv
internal/test/cmd/greeting-service/target
internal/test/integration/components/javatestserver/target/
internal/test/integration/components/rusttestserver/target/
internal/test/integration/components/rustssltestserver/target/
internal/test/integration/components/nodejsserver/node_modules/
# Ruby on Rails test
# Ignore bundler config.
internal/test/integration/components/rubytestserver/testapi/.bundle

# Ignore the default SQLite database.
internal/test/integration/components/rubytestserver/testapi/db/*.sqlite3
internal/test/integration/components/rubytestserver/testapi/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
internal/test/integration/components/rubytestserver/testapi/log/*
internal/test/integration/components/rubytestserver/testapi/tmp/*
!internal/test/integration/components/rubytestserver/testapi/log/.keep
!internal/test/integration/components/rubytestserver/testapi/tmp/.keep

# Ignore pidfiles, but keep the directory.
internal/test/integration/components/rubytestserver/testapi/tmp/pids/*
!internal/test/integration/components/rubytestserver/testapi/tmp/pids/
!internal/test/integration/components/rubytestserver/testapi/tmp/pids/.keep

# Ignore uploaded files in development.
internal/test/integration/components/rubytestserver/testapi/storage/*
!internal/test/integration/components/rubytestserver/testapi/storage/.keep
internal/test/integration/components/rubytestserver/testapi/tmp/storage/*
!internal/test/integration/components/rubytestserver/testapi/tmp/storage/
!internal/test/integration/components/rubytestserver/testapi/tmp/storage/.keep
internal/test/integration/components/dotnetserver/obj/*
internal/test/oats/*/build/*
internal/test/cmd/grpc/client/grpclient
internal/test/integration/components/gohttp2/client/client
internal/test/integration/components/gohttp2/server/http2srv
beyla.sln
internal/test/integration/components/gokafka/gokafka
internal/test/integration/components/gokafka/vendor/*
internal/test/integration/components/gokafka-seg/vendor/*
internal/test/integration/components/gokafka-seg/gokafka
internal/test/integration/components/goredis/vendor/*
internal/test/integration/components/goredis/goredis
internal/test/integration/components/go_otel/rolldice
internal/test/integration/components/go_otel_grpc/rolldice
internal/test/integration/components/pythonserver/lib/
internal/test/integration/components/pythonserver/lib64
internal/test/integration/components/pythonserver/pyvenv.cfg
internal/test/integration/components/gosql/qosql
internal/test/integration/components/testserver_1.17/vendor
*_bpfel.go
*_bpfel.o
**/grafana-opentelemetry-java.jar
