
apiVersion: v2
name: beyla
version: 0.1.0
appVersion: 1.2.0 
description: eBPF-based autoinstrumentation of HTTP and HTTPS services 
sources:
  - https://github.com/grafana/beyla
type: application
keywords:
  - observability
  - autoinstrumentation
  - eBPF-based