version: "3.8"

services:
  nginx:
    image: nginx:latest@sha256:341bf0f3ce6c5277d6002cf6e1fb0319fa4252add24ab6a0e262e0056d313208
    container_name: demo-nginx
    ports:
      - 3333:3330
    volumes:
      - ./configs/:/etc/nginx
    depends_on:
      gotestserver:
        condition: service_started
      javatestserver:
        condition: service_started
      rusttestserver:
        condition: service_started

  # Beyla for NGINX
  nginxbeyla:
    image: grafana/beyla:latest@sha256:3513245f8b68ea1ef888d2f95896c705d17115202ffa37c45153cae241cdc48a
    volumes:
      - ./configs/:/configs
      - ./system/sys/kernel/security:/sys/kernel/security
    container_name: demo-nginxbeyla
    privileged: true
    network_mode: "service:nginx"
    pid: "service:nginx"
    environment:
      BEYLA_CONFIG_PATH: "/configs/beyla-config.yml"
      BEYLA_TRACE_PRINTER: "text"
      BEYLA_OPEN_PORT: "3330"
      BEYLA_SERVICE_NAMESPACE: "demo"
      OTEL_SERVICE_NAME: "demo-nginx"
      BEYLA_LOG_LEVEL: "DEBUG"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://agent:4018"
    depends_on:
      nginx:
        condition: service_started

  # Go test server
  # Test server source can be found at internal/test/integration/components/testserver
  gotestserver:
    image: ghcr.io/grafana/beyla-demo/greeting-go/0.0.1@sha256:01da627c6f52e6f18440660a7f4c73af9c1f84667f6b8f3ff1826ea3cf0610a9
    container_name: demo-gotestserver
    #ports:
    #  - "8084:8080"

  # Beyla for Java Spring Boot 3.0 GraalVM Native Image
  gobeyla:
    image: grafana/beyla:latest@sha256:3513245f8b68ea1ef888d2f95896c705d17115202ffa37c45153cae241cdc48a
    volumes:
      - ./configs/:/configs
      - ./system/sys/kernel/security:/sys/kernel/security
    container_name: demo-gobeyla
    privileged: true
    network_mode: "service:gotestserver"
    pid: "service:gotestserver"
    environment:
      BEYLA_CONFIG_PATH: "/configs/beyla-config.yml"
      BEYLA_TRACE_PRINTER: "text"
      BEYLA_OPEN_PORT: "8080"
      BEYLA_SERVICE_NAMESPACE: "demo"
      OTEL_SERVICE_NAME: "demo-go-service"
      BEYLA_LOG_LEVEL: "DEBUG"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://agent:4018"
    depends_on:
      gotestserver:
        condition: service_started

  # Java Spring Boot 3.0 GraalVM Native Image test server
  # Test server source can be found at internal/test/integration/components/javatestserver
  javatestserver:
    image: ghcr.io/grafana/beyla-demo/greeting-graalvm-native/0.0.1@sha256:52d1fb320b5d644e0742cf9295b29cbbbf264c39b7ee74087147009bad9a3546
    container_name: demo-javatestserver
    #ports:
    #  - "8085:8085"

  # Beyla for Java Spring Boot 3.0 GraalVM Native Image
  javabeyla:
    image: grafana/beyla:latest@sha256:3513245f8b68ea1ef888d2f95896c705d17115202ffa37c45153cae241cdc48a
    volumes:
      - ./configs/:/configs
      - ./system/sys/kernel/security:/sys/kernel/security
    container_name: demo-javabeyla
    privileged: true
    network_mode: "service:javatestserver"
    pid: "service:javatestserver"
    environment:
      BEYLA_CONFIG_PATH: "/configs/beyla-config.yml"
      BEYLA_TRACE_PRINTER: "text"
      BEYLA_OPEN_PORT: "8085"
      BEYLA_SERVICE_NAMESPACE: "demo"
      OTEL_SERVICE_NAME: "demo-graalvm-native-service"
      BEYLA_LOG_LEVEL: "DEBUG"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://agent:4018"
    depends_on:
      javatestserver:
        condition: service_started

  # Rust Actix test server
  # Test server source can be found at internal/test/integration/components/rusttestserver
  rusttestserver:
    image: ghcr.io/grafana/beyla-demo/greeting-actix-rust/0.0.1@sha256:92d58004021fc9ade85670221b8c55f26535c4cb496891a6520526234eabb990
    container_name: demo-rusttestserver
    #ports:
    #  - "8086:8090"

  # Beyla for Rust Actix
  rustbeyla:
    image: grafana/beyla:latest@sha256:3513245f8b68ea1ef888d2f95896c705d17115202ffa37c45153cae241cdc48a
    volumes:
      - ./configs/:/configs
      - ./system/sys/kernel/security:/sys/kernel/security
    container_name: demo-rustbeyla
    privileged: true
    network_mode: "service:rusttestserver"
    pid: "service:rusttestserver"
    environment:
      BEYLA_CONFIG_PATH: "/configs/beyla-config.yml"
      BEYLA_TRACE_PRINTER: "text"
      BEYLA_OPEN_PORT: "8090"
      BEYLA_SERVICE_NAMESPACE: "demo"
      OTEL_SERVICE_NAME: "demo-rust-service"
      BEYLA_LOG_LEVEL: "DEBUG"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://agent:4018"
    depends_on:
      rusttestserver:
        condition: service_started

  # Grafana Agent
  agent:
    image: grafana/agent@sha256:7a944ee1274e54b84fcadc4e1e53f88cfedb566d911fedd4cf1e9c695df8c989
    container_name: demo-agent
    command:
      - run
      - /etc/agent/agent-config.river
    volumes:
      - ./configs/:/etc/agent
    environment:
      AGENT_MODE: "flow"
    ports:
      - "4017:4017"
      - "4018:4018"

  # Tempo
  tempo:
    image: grafana/tempo@sha256:2ad69866569c355ed678544d538f259e98f8c6bd7d93d940887951b68b067aa2
    container_name: demo-tempo
    command:
      - -config.file
      - /etc/tempo/tempo-config.yaml
    volumes:
      - ./configs/:/etc/tempo
    ports:
      - "3200:3200"
      - "4317:4317"
      - "4318:4318"

  # Mimir -config.file=config-mimir.yaml -server.grpc-listen-port=9096
  mimir:
    image: grafana/mimir@sha256:1683362e049077adecb93ba6983dd2ef22282d21ff797e8b5f290028f6c34062
    container_name: demo-mimir
    command:
      - -config.file=/etc/mimir/mimir-config.yaml
      - -server.grpc-listen-port=9096
    volumes:
      - ./configs/:/etc/mimir
    ports:
      - "9009:9009"
      - "9096:9096"

  grafana:
    image: grafana/grafana@sha256:5683be4319a6da1d6ab28c3443b3739683e367f8d72d800638390a04a2680c1c
    container_name: demo-grafana
    volumes:
      - ./configs/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "admin"
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
