apiVersion: v2
name: beyla
version: 1.10.0
appVersion: 2.7.5
description: eBPF-based autoinstrumentation HTTP, HTTP2 and gRPC services, as well as network metrics.
home: https://grafana.com/oss/beyla-ebpf/
icon: https://grafana.com/static/img/logos/beyla-logo.svg
sources:
  - https://github.com/grafana/beyla
type: application
keywords:
  - observability
  - autoinstrumentation
  - eBPF-based
maintainers:
  - name: mariomac
    url: https://github.com/mariomac
  - name: grcevski
    url: https://github.com/grcevski
  - name: marctc
    url: https://github.com/marctc
  - name: rafaelroquetto
    url: https://github.com/rafaelroquetto
  - name: skl
    url: https://github.com/skl
