{
  BasedOnStyle: LLVM,
  BreakStringLiterals: true,
  AllowShortFunctionsOnASingleLine: InlineOnly,
  ColumnLimit: 100,
  IndentWidth: 4,
  SortIncludes: false,
  ReflowComments: false,
  BinPackArguments: false,
  BinPackParameters: false,
  TabWidth: 4,
  PointerAlignment: Right,
}
