name: Release Helm chart
on:
  workflow_dispatch:

jobs:
  release-beyla-helm-chart:
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@37c5e126b0a28eefd6c18331b88f8036233853d6
    permissions:
      contents: "write"
      id-token: "write"
      packages: "write"
    with:
      charts_dir: charts/beyla
      cr_configfile: .github/configs/cr.yml
      ct_configfile: .github/configs/ct.yml
    secrets:
      # "mimir-helm-release" is a GitHub app, that has permissions to push to grafana/helm-charts.
      # We created there a private key that seat in the Beyla repo's vault (ref https://github.com/grafana/shared-workflows/tree/main/actions/get-vault-secrets).
      vault_repo_secret_name: beyla-helm-release
