name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:

  workflow_call:
    inputs:
      filter_regex_include:
        description: this sets the scope of the super linter
        default: "charts/beyla/"
        required: false
        type: string

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CT_CONFIGFILE: "${{ github.workspace }}/.github/configs/ct.yml"

jobs:
  lint-helm-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for chart-testing to work

      - name: Regenerate docs
        run: |
          docker run --rm \
            -v "$(pwd)/deployments/helm:/helm-docs" \
            -u "$(id -u)" \
            jnorwood/helm-docs
          if ! git diff --exit-code; then
            echo "Helm chart documentation is not up to date. Please run 'helm-docs' and commit changes!" >&2
            exit 1
          fi

      - name: Set up Linting with chart-testing
        uses: helm/chart-testing-action@v2.1.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config "${CT_CONFIGFILE}")
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Linting with chart-testing
        run: ct lint --config "${CT_CONFIGFILE}"
