# TODO: trigger only if testing or any other checks previously succeeded
name: Push to DockerHub (main)
on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  build-multiarch:
    runs-on: ubuntu-latest-8-cores

    steps:
      - id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: 'false'
      - id: push-beyla-to-dockerhub
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@bae259f9ed5b6fcb050e3b58adf7aee776d4edb5 # main
        with:
          repository: grafana/beyla
          context: .
          platforms: |-
            "linux/amd64"
            "linux/arm64"
          tags: |-
            "main"
          push: true

      - id: push-beyla-k8s-cache-to-dockerhub
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@bae259f9ed5b6fcb050e3b58adf7aee776d4edb5 # main
        with:
          repository: grafana/beyla-k8s-cache
          file: k8scache.Dockerfile
          context: .
          platforms: |-
            "linux/amd64"
            "linux/arm64"
          tags: |-
            "main"
          push: true
