name: publish-technical-documentation-next

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/**"
  workflow_dispatch:

# Set restrictive permissions at workflow level
permissions:
  contents: read

jobs:
  sync:
    if: github.repository == 'grafana/beyla'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/publish-technical-documentation@9aed4f7c5b3caa1b58d72ee39232333407d4acbf # publish-technical-documentation/v1
        with:
          website_directory: content/docs/beyla/next
