name: Test Docker build
on:
  pull_request:
    branches: ["main", "release-*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      # required for DockerHub access
      id-token: write

    strategy:
      matrix:
        include:
          - file: Dockerfile
            platform: linux/amd64
            runner: ubuntu-latest
          - file: Dockerfile
            platform: linux/arm64
            runner: ubuntu-24.04-arm
          - file: k8scache.Dockerfile
            platform: linux/amd64
            runner: ubuntu-latest
          - file: k8scache.Dockerfile
            platform: linux/arm64
            runner: ubuntu-24.04-arm

    steps:
      - id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: "false"
          submodules: "recursive"

      - name: Login to DockerHub
        if: github.repository == 'grafana/beyla' && (github.event_name != 'pull_request' || !github.event.pull_request.head.repo.fork)
        uses: grafana/shared-workflows/actions/dockerhub-login@775874934ae5e0adbc55b3e7d3571d140bcc7886

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: ./${{ matrix.file }}
          push: false
          platforms: ${{ matrix.platform }}
