name: Pull request checks

on:
  push:
    branches: ["main", "release-*"]
  pull_request:
    branches: ["main", "release-*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

# Set restrictive permissions at workflow level
permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-x64
    # Grant specific permissions needed only for this job
    permissions:
      contents: read
      pull-requests: write
      # required for CODECOV token
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          submodules: true
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          cache: false
          go-version-file: "go.mod"
      - name: Run verification and unit tests
        run: make docker-generate verify cov-exclude-generated
      - id: get-codecov-token
        uses: grafana/shared-workflows/actions/get-vault-secrets@9f37f656e063f0ad0b0bfc38d49894b57d363936 # get-vault-secrets/v1.2.1
        continue-on-error: true
        with:
          # Secrets placed in the ci/repo/grafana/beyla/codecov path in Vault
          repo_secrets: |
            CODECOV_TOKEN=codecov:token
      - name: Report coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        continue-on-error: true
        with:
          file: ./testoutput/cover.txt
          flags: unittests
