name: Test Docker build
on:
  pull_request:
    branches: ["main", "release-*"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest-8-cores
    permissions:
      contents: read
      # required for DockerHub access
      id-token: write

    strategy:
      matrix:
        platform: [linux/amd64] # linux/arm64 is too slow on GitHub Actions.
        file: [Dockerfile, k8scache.Dockerfile]

    steps:
      - id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: "false"
          submodules: "recursive"

      - name: Login to DockerHub
        uses: grafana/shared-workflows/actions/dockerhub-login@8ef55db5803bf7fc92e32ca4a4f488657f3f53fe

      - id: docker-build-beyla
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@8ef55db5803bf7fc92e32ca4a4f488657f3f53fe # main
        with:
          context: .
          file: ${{ matrix.file }}
          platforms: |-
            ${{ matrix.platform }}
          tags: |-
            "pr-test"
          push: false
