name: Check third-party licenses

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

# Set restrictive permissions at workflow level
permissions:
  contents: read

jobs:
  check-licenses:
    name: check-licenses
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
        with:
          cache: 'false'
          go-version: ${{ matrix.go }}
      - name: Check licenses
        run: make check-licenses
