name: Pull request checks

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.20' ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Run integration tests
        run: make integration-test
      - name: Upload integration test logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: docker-compose.log
          path: docker-compose.log