name: Test Docker build
on:
  pull_request:
    branches: [ 'main', 'release-*' ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest-8-cores

    strategy:
      matrix:
        platform: [linux/amd64] # linux/arm64 is too slow on GitHub Actions.
        file: [Dockerfile, k8scache.Dockerfile]

    steps:
      - id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: 'false'
      - id: docker-build-beyla
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@bae259f9ed5b6fcb050e3b58adf7aee776d4edb5 # main
        with:
          context: .
          file: ${{ matrix.file }}
          platforms: |-
            ${{ matrix.platform }}
          tags: |-
            "pr-test"
          push: false
