name: Pull request checks

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.20' ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Run verification and tests
        run: make verify cov-exclude-generated
      - name: Report coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./cover.out
          flags: unittests
          fail_ci_if_error: true