name: PR OATS test

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

# Set restrictive permissions at workflow level
permissions:
  contents: read
  # required for CODECOV token
  id-token: write

jobs:
  test:
    name: test
    runs-on: ubuntu-latest-8-cores
    strategy:
      matrix:
        go: [ '1.24' ]
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3
        with:
          cache: false  # Disable caching to avoid extraction conflicts
          go-version: ${{ matrix.go }}
      - name: Clean up disk space
        run: |
          docker system prune -af
          docker volume prune -f
      - name: Run oats tests
        run: make oats-test
      - name: Upload oats test logs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: always()
        with:
          name: Oats test logs
          path: test/oats/*/build/*
      # - id: get-codecov-token
      #   uses: grafana/shared-workflows/actions/get-vault-secrets@get-vault-secrets/v1.2.1
      #   with:
      #     # Secrets placed in the ci/repo/grafana/beyla/codecov path in Vault
      #     repo_secrets: |
      #       CODECOV_TOKEN=codecov:token
      # - name: Report coverage
      #   uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
      #   with:
      #     file: ./testoutput/itest-covdata.txt
      #     flags: oats-test
