name: Lint prose with Vale
on:
  pull_request:
    paths: ["docs/sources/**"]
  workflow_dispatch:
jobs:
  vale:
    runs-on: ubuntu-latest
    container:
      image: grafana/vale:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run linter
        run: >
          cp /etc/vale/.vale.ini ./.vale.ini
          &&
          cp -R /etc/vale/dictionaries dictionaries
          &&
          vale
          '--glob=*.md'
          --minAlertLevel=warning
          --output=/etc/vale/rdjsonl.tmpl
          docs/sources
          |
          /bin/reviewdog
          --conf=/etc/vale/.reviewdog.yml
          --fail-on-error
          --f=rdjsonl
          --filter-mode=nofilter
          --name=vale
          --reporter=github-pr-review
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
