name: Pull request integration tests on VM

on:
  workflow_call:
    inputs:
      arch:
        description: 'Target architecture to run the tests'
        required: true
        type: string
      kernel-version:
        description: 'Kernel version to use when running the tests'
        required: true
        type: string
      timeout-minutes:
        description: 'Timeout in minutes before the test is terminated'
        required: false
        type: number
        default: 60
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.22' ]
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          persist-credentials: 'false'
      - name: Clean up disk space
        run: |
          docker system prune -af
          docker volume prune -f
      - name: Install QEMU
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends qemu-utils qemu-system-x86
      - name: Run VM integration tests
        run: |
          make docker-generate
          sudo make -C test/vm && [ -f testoutput/success ]
        env:
          KERNEL_VER: ${{ inputs.kernel-version }}
          ARCH: ${{ inputs.arch }}
        timeout-minutes: ${{ inputs.timeout-minutes }}
      - name: Upload integration test logs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: always()
        with:
          name: Test Logs
          path: |
            testoutput/*.log
            testoutput/kind
      - id: get-codecov-token
        uses: grafana/shared-workflows/actions/get-vault-secrets@get-vault-secrets/v1.2.1
        continue-on-error: true
        with:
          # Secrets placed in the ci/repo/grafana/beyla/codecov path in Vault
          repo_secrets: |
            CODECOV_TOKEN=codecov:token
      - name: Report coverage
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
        continue-on-error: true
        with:
          file: ./testoutput/itest-covdata.txt
          flags: integration-test-vm-${{ inputs.arch }}-${{ inputs.kernel-version }}
